.start-screen {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 50vw;
    height: auto;
    max-height: 100%;
  }
}

.start-label-box {
   position: absolute;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   margin-top: 12%;
   > img {
     height: auto;
     width: 15vw;
     cursor: pointer;
     &:hover {
       scale: 1.1;
       filter: brightness(1.75);
     }
   }
 }

@media (max-width: 1500px) {
   .start-screen {
     > img {
       width: 70vw;
     }
   }
 }

 @media (max-width: 1000px) {
   .start-screen {
     > img {
       width: 80vw;
     }
   }
 }

 @media (max-width: 600px) {
   .start-screen {
     > img {
       width: 90vw;
     }
   }
 }
